[submodule "C/third_party/googletest"]
	path = C/third_party/googletest
	url = https://github.com/google/googletest.git
[submodule "C/libs/googletest"]
	path = C/libs/googletest
	url = https://github.com/google/googletest.git
[submodule "C/libs/benchmark"]
	path = C/libs/benchmark
	url = https://github.com/google/benchmark.git
[submodule "C/C/libs/FlameGraph"]
	path = C/C/libs/FlameGraph
	url = https://github.com/brendangregg/FlameGraph
[submodule "C/libs/FlameGraph"]
	path = C/libs/FlameGraph
	url = https://github.com/brendangregg/FlameGraph
[submodule "C/dbscan"]
	path = C/dbscan
	url = https://github.com/Eleobert/dbscan.git
