[submodule "listener_program/third_party/googletest"]
	path = listener_program/third_party/googletest
	url = https://github.com/google/googletest.git
[submodule "listener_program/libs/googletest"]
	path = listener_program/libs/googletest
	url = https://github.com/google/googletest.git
[submodule "listener_program/libs/benchmark"]
	path = listener_program/libs/benchmark
	url = https://github.com/google/benchmark.git
[submodule "listener_program/listener_program/libs/FlameGraph"]
	path = listener_program/listener_program/libs/FlameGraph
	url = https://github.com/brendangregg/FlameGraph
[submodule "listener_program/libs/FlameGraph"]
	path = listener_program/libs/FlameGraph
	url = https://github.com/brendangregg/FlameGraph
[submodule "listener_program/libs/dbscan"]
	path = listener_program/libs/dbscan
	url = https://github.com/JosephLWalker96/dbscan.git
